# dependencies
node_modules
.pnp
.pnp.js

# testing
/coverage
/junit.xml

# production
/dist

# env
.env*

# misc
.DS_Store
.env.local
.env.test
.env.development.local
.env.test.local
.env.production.local

.idea
*.iml

*.swp

npm-debug.log*
yarn-debug.log*
yarn-error.log*
